[submodule "e-manager_ui"]
	path = e-manager_ui
	url = https://kkoyias@bitbucket.org/kkoyias/e-manager_ui.git
[submodule "e-manager_api"]
	path = e-manager_api
	url = https://kkoyias@bitbucket.org/kkoyias/e-manager_api.git
